<br><br><br>
<form>
    <div class="mb-1 fix ">
      <label for="exampleInputEmail1" class="form-label" >E-mail cadastrado</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@example.com" aria-describedby="emailHelp">
      <!--div id="emailHelp" class="form-text">E-mail cadastrado</div-->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Manter-se conectado</label>
    </div>
    <button type="submit" class="btn btn-primary bt-margin-right">ENTRAR</button>
    <button routerLink = "/cadastro" type="submit" class="btn btn-secondary margin-left">CADASTRAR-SE</button>
  </form>
  