<h5>Login</h5>
<br>
<div class="mb-3 flex col-md-3">
    <div class="input-field col s12">
      <input [(ngModel)]="usuario.nome" id="usuario" type="text" class="form-control">
      <label class="active" for="usuario">Usuário</label>
    </div>
</div>

<div class="mb-3 flex col-md-3">
    <div class="input-field col s12">
      <input [(ngModel)]="usuario.senha" id="senha" type="password" class="form-control">
      <label class="active" for="senha">Senha</label>
    </div>
</div>

<button class="btn btn-primary 1px" type="submit" name="action" (click)="fazerLogin()">Login <i class="bi bi-arrow-right-square"></i></button>
<button routerLink="/cadastro" style="margin: 10px" class="btn btn-secondary" type="submit" name="action">Cadastrar-se <i class="bi bi-card-checklist"></i></button>